@import "../base/variables";
@import "../base/colors";

@mixin button($background-color, $color) {
  font-size: $text-body-small;
  font-weight: 600;
  text-decoration: none;
  padding: 0.708em 1.375em;
  border-radius: 1.375em;
  background-color: $background-color;
  color: $color;
  display: inline-block;
  cursor: pointer;
  border: transparent;
  transition: background-color .35s ease;

  &:hover {
    background-color: lighten($background-color, 10%);
  }

  &:focus {
    outline: 0;
    box-shadow: 0.06em 0 0.6em 0.1em lighten($ac1, 30%);
  }

  &:active {
    background-color: darken($background-color, 10%);
  }

  &[disabled] {
    background-color: lighten($background-color, 40%);
  }
}

@mixin button-inverse($background-color, $color) {
  font-size: $text-body-small;
  font-weight: 600;
  text-decoration: none;
  padding: 0.708em 1.375em;
  border-radius: 1.375em;
  background-color: $background-color;
  color: $color;
  display: inline-block;
  cursor: pointer;
  border: 0.125em solid $color;
  transition: background-color .35s ease;

  &:hover {
    color: lighten($color, 10%);
    border-color: lighten($color, 10%);
  }

  &:focus {
    outline: 0;
    box-shadow: 0.06em 0 0.6em 0.1em lighten($ac1, 30%);
  }

  &:active {
    color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  &[disabled] {
    color: lighten($color, 40%);
    border-color: lighten($color, 40%);
  }
}

.button {
  @include button(#f5f5f5, $text-dark);
}

.button.button-primary {
  @include button($ac1, white);
}

.button-inverse-primary {
  @include button-inverse(white, $ac1);
}