@import "../base/colors";
@import "../base/variables";
@import "../base/mixins";

@mixin button-filled($background-color, $color) {
  background-color: $background-color;
  color: $color;

  &:hover {
    background-color: lighten($background-color, 10%);
  }

  &:active {
    background-color: darken($background-color, 10%);
  }

  &[disabled] {
    background-color: lighten($background-color, 40%);
  }
}

@mixin button-inverse($background-color, $color) {
  background-color: $background-color;
  color: $color;
  border: 0.125em solid $color;

  &:hover {
    color: lighten($color, 10%);
    border-color: lighten($color, 10%);
  }

  &:active {
    color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  &[disabled],
  &[aria-disabled] {
    color: lighten($color, 40%);
    border-color: lighten($color, 40%);
  }
}

.h5p {
  .button {
    font-size: $text-body-small;
    font-weight: 600;
    text-decoration: none;
    padding: 0.708em 1.375em;
    border-radius: 1.375em;
    background-color: $c3;
    color: $text-dark;
    display: inline-block;
    cursor: pointer;
    border: transparent;
    transition: background-color .35s ease;

    &:focus {
      @include blueGlow
    }

    &.button-primary {
      @include button-filled($ac1, white);
    }

    &.button-inverse-primary {
      @include button-inverse(white, $ac1);
    }
  }
}