@import "../base/colors";
@import "../base/variables";
@import "../base/mixins";

$size-button: 2.1em;
$color-button: rgba($c1, .8);

.h5p-sdk {
  .imagelightbox {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    ol, ul {
      @include reset-list;
    }
  }

  .imagelightbox-image {
    @include reset-list;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .imagelightbox-button {
    position: absolute;
    background: pink;
    cursor: pointer;
    user-select: none;

    &.previous, &.next {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &.next {
      left: auto;
      right: 0;
    }
    &.close {
      top: 0;
      right: 0;
    }

    &[aria-disabled] {
      background: blue;
      cursor: default;
    }
  }

  [aria-hidden="true"] {
    display: none;
  }
}
