@import "../base/colors";
@import "../base/variables";

$size-button: 2em;
$color-button: rgba($c1, .8);

.h5p {
  .carousel-lightbox {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    padding-top: 2em;
  }

  .carousel {
    width: 100%;
    box-sizing: border-box;
    position: relative;

    [aria-hidden="true"] {
      display: none;
    }

    .scroller {
      overflow: hidden;
      width: 100%;
    }

    ul {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      word-wrap: break-word;
      transition: margin 0.3s ease-out;
    }

    li {
      width: 20%;
      padding: 0;
      margin: 0;
      list-style-type: none;
      float: left;
      box-sizing: border-box;

      &:not(:first-child) {
        img {
          margin-left: ($gutter / 4);
        }
      }

      &:not(:last-child) {
        img {
          margin-right: ($gutter / 4);
        }
      }
    }

    img {
      max-width: 100%;
      cursor: pointer;
    }

    .carousel-button {
      background-color: $color-button;
      position: absolute;
      top: 30%;
      color: white;
      height: $size-button;
      width: $size-button;
      border-radius: $size-button;
      cursor: pointer;

      &:hover {
        background-color: lighten($color-button, 10%);
      }

      &[disabled] {
        background-color: lighten($color-button, 30%);
        cursor: default;
      }

      &.previous {
        left: (-$gutter / 2);
      }

      &.next {
        right: (-$gutter / 2);
      }
    }
  }
}