@import "../base/colors";
@import "../base/variables";
@import "../base/mixins";

.h5p {
  /* Form control */
  .form-control {
    display: block;
    width: 100%;
    padding: $gutter;
    font-size: $text-body-large;
    border: 0.125em solid $c2;
    box-sizing: border-box;

    @include placeholder {
      color: $c2;
    }

    &.form-control-rounded {
      border-radius: 2em;
    }

    &:focus {
      @include blueGlow
    }
  }

  /* Input Group */
  .input-group {
    position: relative;

    .input-group-addon {
      position: absolute;
      top: 0.5em;
      right: 1em;
    }
  }
}