@import "../base/colors";
@import "../base/variables";

.h5p {
  .h5p-menu {
    border: 0.042em solid $c2;
    background-color: $c3;
    list-style: none;
    color: $text-dark;
    padding: 0;
    margin: 0 0 $gutter 0;
    font-size: $text-body-small;

    > span {
      display: block;
      height: 7px;
      background: $ac1;
      position: relative;
      transition: all .5s ease;
    }

    [role="menuitem"] {
      display: inline-block;
      box-sizing: border-box;
      width: 12em;
      text-align: center;
      margin-right: -5px;
      padding: $gutter;
      text-decoration: none;
      cursor: pointer;
      transition: all .5s ease;

      &:nth-child(1) ~ span,
      &:nth-child(1)[aria-selected="true"] ~ span {
        width: 12em;
        right: 0;
      }

      &:nth-child(2) ~ span,
      &:nth-child(2)[aria-selected="true"] ~ span {
        width: 12em;
        right: -12em;
      }

      &:nth-child(3) ~ span,
      &:nth-child(3)[aria-selected="true"] ~ span {
        width: 12em;
        right: -24em;
      }

      &:nth-child(4) ~ span,
      &:nth-child(4)[aria-selected="true"] ~ span {
        width: 12em;
        right: -36em;
      }
    }
  }
}
