@import "../base/colors";
@import "../base/variables";

$width-menu-item: 12em;

.h5p {
  .navbar {
    border: 0.042em solid $c2;
    background-color: $c3;
    list-style: none;
    color: $text-dark;
    margin: 0 0 $gutter 0;
    font-size: $text-body-small;
    padding: $gutter;
    overflow: auto;

    .navbar-brand {
      float: left;
    }

    .navbar-toggler {
      cursor: pointer;
    }

    .navbar-toggler-right {
      float: right;
    }

    [role="menuitem"] {
      box-sizing: border-box;
      padding: $gutter;
      text-align: right;

      &:not(:last-of-type) {
        border-bottom: 1px solid $c2;
      }

      &[aria-selected="true"] {
        font-weight: 600;
      }
    }

    @media (min-width: $screen-small) {
      padding: 0 $gutter;

      .navbar-brand {
        padding: $gutter;
      }

      .navbar-toggler {
        display: none;
      }

      .navbar-nav {
        display: inline-block;
        float: right;

        &[aria-hidden='true'] {
          display: block ! important;
        }
      }

      [role="menuitem"] {
        display: inline-block;
        width: $width-menu-item;
        text-align: center;
        margin-right: -5px;
        text-decoration: none;
        cursor: pointer;
        transition: all .5s ease;

        &:not(:last-of-type) {
          border-bottom: 0;
        }

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) ~ .menuitem-underline,
          &:nth-child(#{$i})[aria-selected="true"] ~ .menuitem-underline {
            width: $width-menu-item;
            right: -($width-menu-item * ($i - 1)) + $gutter;
          }
        }
      }

      .menuitem-underline {
        display: block;
        height: 7px;
        background: $ac1;
        position: relative;
        transition: all .5s ease;
      }
    }
  }
}
