@import "../base/colors";
@import "../base/variables";
@import "../base/mixins";


@mixin message-level($background, $color) {
  @include box-shadow(0.167em 0, 0, 0, $background, true);
  background: rgba($background, 0.15);

  .button {
    color: $color;
    border: solid 1px;
    background-color: transparent;
  }
}

.h5p-sdk {
  .message {
    margin: $gutter 0;
    padding: 1.250em;
    text-align: right;

    .title {
      font-size: $text-list-title;
      color: $text-dark;
    }

    .description {
      font-size: $text-body-small;
      color: $text-light;
    }

    .message-close {
      display: none;
    }
  }

  .message.info {
    @include message-level($ac-info, $ac-info);
    box-shadow: inset 0.167em 0 $ac-info;
  }

  .message.warning {
    @include message-level($ac-warning, $text-dark);
    box-shadow: inset 0.167em 0 $ac-warning;
  }

  .message.error {
    @include message-level($ac-error, $ac-error);
    box-shadow: inset 0.167em 0 $ac-error;
  }

  .message.dismissible {
    overflow: auto;

    .message-content {
      float: right;
    }

    .message-close {
      cursor: pointer;
      display: block;
      float: right;
      border: 0;
      background-color: transparent;
      padding-top: 1.250em;
      padding-left: 1.250em;
    }
  }
}
