@import '../base/variables';
@import '../base/mixins';

$border-modal: 1px solid  #e0e0e0;
$padding-modal: $gutter ($gutter * 2);
$max-width-modal: $screen-large;

.h5p-sdk {
  .modal {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .modal-dialog {
      position: relative;
      padding: $gutter * 3;
      top: 50%;
      transform: translateY(-50%);
      max-height: 100%;
      box-sizing: border-box;
      overflow: auto;
    }

    .modal-content {
      background: #fff;
    }

    .modal-header {
      border-bottom: $border-modal;
      padding: $padding-modal;
      position: relative;
      transform-style: preserve-3d;
    }

    .modal-title {
      font-weight: 400;
      font-size: 1.6em;
    }

    .modal-subtitle {
      font-weight: 400;
    }

    .modal-footer {
      padding: $padding-modal;
      text-align: right;
      border-top: $border-modal
    }

    .modal-body {
      padding: $gutter;
    }

    .close {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      right: ($gutter * 3);
      @include vertical-align(absolute);
    }

    @media (max-width: 576px) {
      .modal-dialog {
        padding: $gutter;
      }
      .modal-header {
        padding: ($gutter / 2) $gutter;
      }
      .modal-body {
        padding: ($gutter / 2) 0;

        .panel.panel-simple .panel-body {
          padding: 0 $gutter;

          pre {
            margin: 0 0 $gutter;
          }
          p {
            margin: $gutter 0;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
      .close {
        right: $gutter * 1.5;
        top: $gutter * 1.5;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
}
