@import "../base/colors";
@import "../base/variables";

$width-menu-item: 12em;
$height-menuitem-underline: 0.250em;

.h5p-sdk {
  .navbar {
    border: 0.042em solid $c2;
    background-color: $c3;
    list-style: none;
    color: $text-dark;
    margin: 0 0 $gutter 0;
    font-size: $text-body-small;
    padding: $gutter;
    overflow: auto;

    .navbar-header {
      overflow: auto;
    }

    .navbar-brand {
      float: left;
      font-size: 1.250em;
    }

    .navbar-toggler {
      cursor: pointer;
      background: none;
      border: 0;
    }

    .navbar-toggler-right {
      float: right;
    }

    .collapsed {
      display: none;
    }

    &.deactivated {
      .menuitem-underline {
        visibility: hidden;
      }

      [role="menuitem"] {
        &[aria-selected="true"] {
          font-weight: 400;
        }
      }
    }

    [role="menuitem"] {
      box-sizing: border-box;
      padding: $gutter;
      text-align: right;
      outline-color: $ac1;

      &:not(:last-of-type) {
        border-bottom: 1px solid $c2;
      }

      &[aria-selected="true"] {
        font-weight: bold;
      }
    }

    @media (min-width: $screen-small) {
      padding: 0 $gutter;

      .navbar-header {
        display: inline-block;
      }

      .navbar-brand {
        padding: $gutter;
      }

      .navbar-toggler {
        display: none;
      }

      .navbar-nav {
        display: inline-block;
        float: right;

        &.collapsed {
          display: block ! important;
        }
      }

      [role="menuitem"] {
        display: inline-block;
        width: $width-menu-item;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:not(:last-of-type) {
          border-bottom: 0;
        }

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) ~ .menuitem-underline,
          &:nth-child(#{$i})[aria-selected="true"] ~ .menuitem-underline {
            width: $width-menu-item;
            right: -($width-menu-item * ($i - 1));
          }
        }
      }

      .menuitem-underline {
        display: block;
        height: $height-menuitem-underline;
        margin-top: -$height-menuitem-underline;
        background: $ac1;
        position: relative;
        transition: right .5s ease, visibility 0.2s ease-in-out;
      }
    }
  }
}
