@import "../base/colors";
@import "../base/variables";

.panel {
  border: 0.042em solid #dadde0;

  .panel-header {
    background-color: #f5f5f5;
    color: $text-dark;
    padding: $padding;

    &[aria-expanded] {
      cursor: pointer;
    }
  }

  .panel-body {
    overflow: hidden;
    transition: height 200ms;

    .panel-body-inner {
      border-top: 0.042em solid #dadde0;
      padding: $padding;
    }
  }
}

.panel-group {
  .panel:not(:first-child) {
    margin-top: -1px;
  }
}