@import "../base/colors";
@import "../base/variables";

.panel {
  border: thin solid $c1;

  .panel-header {
    background-color: $c1;
    color: white;
    border: 0.042em;
    padding: $padding;

    &[aria-expanded] {
      cursor: pointer;
    }
  }

  .panel-body {
    overflow: hidden;
    transition: height 200ms;
  }
}