@import "../base/variables";

nav {
  background-color: #697585;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  padding: 10px 25px;
}

nav li[aria-selected='true'] {
}

nav li[aria-selected='true'] {
  border-bottom: 4px solid $ac1;
}

nav a {
  text-decoration: none;
  color: $c3;
}

div[aria-hidden='true'] {
display: none;
}
