@import "../base/variables";
@import "../base/mixins";

.tab-panel {
  border: 0.042em solid $c2;

  [role="tablist"] {
    background-color: $c3;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 0.042em solid $c2;
  }

  [role="tab"] {
    display: inline-block;
    padding: $padding;
    text-decoration: none;
    color: $text-dark;
    cursor: pointer;

    &[aria-selected="true"] {
      @include box-shadow(0, -5px, 0, 0, $ac1, true);
    }
  }

  [role="tabpanel"] {
    .tab-panel-inner {
      padding: $padding;
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }
}
