@import "../base/colors";
@import "../base/variables";

.h5p {
  font-family: 'Open Sans', sans-serif;
  font-size: $text-body-large;
  color: $text-dark;

  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    color: inherit;
    font-weight: 300;
    line-height: 1.1;
  }

  h1, h2, h3 {
    margin-top: $gutter;
    margin-bottom: $gutter / 2;
  }

  h4, h5, h6 {
    margin-top: $gutter / 2;
    margin-bottom: $gutter / 2;
    font-weight: 600;
  }

  h1 {
    font-size: 1.733em;
  }

  h2 {
    font-size: 1.458em;
  }

  h3 {
    font-size: 1.250em;
  }

  h4 {
    font-size: 1.042em;
  }

  h5 {
    font-size: 0.938em;
  }

  h6 {
    font-size: 0.875em;
  }


  small, .small {
    color: $text-light;
    font-size: $text-body-small;
  }

  .link,
  a {
    color: $text-dark;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
  }

  .additional-information {
    font-style: italic;
    color: $text-light;
  }
}