@import "base/colors";
@import "base/variables";
@import "components/button";
@import "components/input-group";
@import "components/panel";
@import "components/tab-panel";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.h5p {
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px;
  margin-bottom: 100px;
}

.tabcontainer {
  border: solid 1px gray;
}
