// main colors
$c1: #697585 !default;
$c2: #ced6e3 !default;
$c3: #f3f3f3 !default;

// derived colors
$c4: darken($c1, 15%); // #4f5762
$c5: darken($c1, 30%); // #1f2227
$c6: darken($c3, 50%); // #71757e

// semantic colors
$ac1: #0a78d1 !default;
$ac-warning: #ffcc33 !default;
$ac-success: #00aa54 !default;
$ac-error: #c64750 !default;
$text-dark: #1f2227 !default;
$text-light: #71757e !default;
