@import "colors";

// text
$text-title-large: 1.458em !default;
$text-title-small: 1.250em !default;
$text-body-large: 0.917em !default;
$text-body-small: 0.833em !default;
$text-list-title: 1.042em !default;

// layout
$padding: 0.833em !default;
